.navbar{
    height: 70px;
    width: 100%;
    position: relative;
    background-color: grey;
    overflow: hidden;
}
.a1{
    display: inline;
    color:white;
    text-decoration: none;
    position: absolute;
    top: 5px;
    left: 31px;
    font-size: 20px;
    padding: 1px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.a2{
    display: inline;
    color:white;
    text-decoration: none;
    position: absolute;
    top: 37px;
    left: 31px;
    font-size: 20px;
    padding: 1px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.foto-nav {
    justify-content: center;
    width: 100%;
}
.isi{
    height: 600px;
    width: 100%;
    position: relative;
    background-color: rgb(103, 103, 103);
    overflow: hidden;
}
h1{
    position: absolute;
    display: inline;
    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    top: -53px;
    left: 558px;
}
.foto1{
    height: 100%;
    width: 100%;
}
.foto2{
    position: relative;
    height: 30%;
    width: 30%;
    bottom: 400px;
    left: 35px;
    border: solid 5px white;
}

.foto3{
    position: relative;
    height: 30%;
    width: 30%;
    bottom: 400px;
    left: 48px;
    border: solid 5px white;
}
.foto4{
    position: relative;
    height: 30%;
    width: 30%;
    bottom: 400px;
    left: 60px;
    border: solid 5px white; 
}
.a3s{
    position: absolute;
    font-size: 20px;
    bottom: 369px;
    left: 221px;
    color: white;
    text-decoration: none;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.a4s{
    position: absolute;
    font-size: 20px;
    bottom: 369px;
    left: 610px;
    color: white;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.a5s{
    position: absolute;
    font-size: 20px;
    bottom: 369px;
    left: 1010px;
    color: white;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.footer{
    height: 70px;
    width: 100%;
    position: relative;
    background-color: rgb(35, 35, 35);
    overflow: hidden;
}
/* ............................................. */

.content{
    height: 600px;
    width: 100%;
    position: relative;
    background-color: rgb(103, 103, 103);
    overflow: hidden;
}
.foto-p1{
    height: 100%;
    width: 100%;
}
.foto-p2{
    position: absolute;
    width: 30%;
    height: 30%;
    left: 40px;
    top:185px;
    border: 5px white solid;
}
.foto-p3{
    position: absolute;
    width: 30%;
    height: 30%;
    left: 464px;
    top: 185px;
    border: 5px white solid;
}
.foto-p4{
    position: absolute;
    width: 30%;
    height: 30%;
    left: 887;
    top: 185px;
    border: 5px white solid;
}
.a1p{
    position: absolute;
    font-size: 20px;
    left: 176px;
    top: 195px;
    color: white;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.a2p{
    position: absolute;
    font-size: 20px;
    left: 641px;
    top: 196px;
    color:white;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.a3p{
    position: absolute;
    font-size: 20px;
    text-decoration: none;
    left: 1036px;
    top: 195px;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* ---------------------------------------- */
.isi-f{
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: grey;
}
.bgf{
    height: 100%;
    width: 100%;
}
.fotof1{
    height: 30%;
    width: 30%;
    left: 40px;
    top: 185;
    position: absolute;
    border: 5px solid white;
}
.fotof2{
    position: absolute;
    height: 30%;
    top: 185px;
    width: 30%;
    left: 464px;
    border: 5px solid white;
}
.fotof3{
    position: absolute;
    height: 30%;
    top: 185px;
    width: 30%;
    left: 887px;
    border: 5px solid white;
}
.af1{
    position: absolute;
    font-size: 20px;
    left: 215px;
    top: 195px;
    color: white;
    text-decoration: none;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.af2{
    position: absolute;
    font-size: 20px;
    left: 641px;
    top: 195px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.af3{
    position: absolute;
    font-size: 20px;
    left:1030px;
    top: 195px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* -------------------------------------- */
.isi-d{
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: grey;
}
.bg-d{
    height: 100%;
    width: 100%;
}
.ftd1{
    height: 30%;
    width: 30%;
    left: 40px;
    top: 185;
    position: absolute;
    border: 5px solid white;
}
.ftd2{
    position: absolute;
    height: 30%;
    top: 185px;
    width: 30%;
    left: 464px;
    border: 5px solid white;
}
.ftd3{
    position: absolute;
    height: 30%;
    top: 185px;
    width: 30%;
    left: 887px;
    border: 5px solid white;
}
.ad1{
    position: absolute;
    font-size: 20px;
    left: 190px;
    top: 195px;
    color: white;
    text-decoration: none;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.ad2{
    position: absolute;
    font-size: 20px;
    left: 619px;
    top: 195px;
    color: white;
    text-decoration: none;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.ad3{
    position: absolute;
    font-size: 20px;
    left: 1048px;
    top: 195px;
    color: white;
    text-decoration: none;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}